
.section {
    background-color: #fff;
    position: relative;
}



.cover {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 40px;


    .cover_for_title {
        position: relative;
        width: 50%;

        .cover_title_text {
            font-family: trap;
            color: #fff;
            font-size: 14vh;
            line-height: 14vh;
            text-transform: uppercase;
            mix-blend-mode: difference;
            position: absolute;
            z-index: 5;
            top: 90%;
            width: 80vw;
            left: 8.5vw;
        }
    }

    &:last-child {
        margin-bottom: 4vh;
    }

    .content_text {
        width: 50%;
        font-family: trap;
        font-size: 22px;
        width: 28.6vw;
        margin: auto;
    }


    .content_cover{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        
       
        &:nth-child(even) {
            justify-content: end;
            .content_background {
                margin-right: 2.5vw;
            }
        }

        img {
            width: 95%;
        }

        .content_background {
            width: 37.5vw;
            height: 70.37vh;
            background-color: #F1F1F1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    } 
}


@media (min-width: 2559px){



.cover {
    width: 100vw;
    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 9vh;
    }
    .cover_for_title {
        position: relative;

        .cover_title_text {
            font-family: trap;
            color: #fff;
            font-size: 14vh;
            line-height: 14vh;
            text-transform: uppercase;
            mix-blend-mode: difference;
            position: absolute;
            z-index: 5;
            top: 80%;
            width: 80vw;
            left: 8.5vw;
        }
    }

    .content_text {
        font-size: 28px;
    }

    .content_cover{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:nth-child(even) {
            justify-content: end;
            .content_background {
                margin-right: 2.5vw;
            }
        }

        img {
            width: 95%;
        }
    } 
}
}


@media (max-width: 1681px) {
    
    .cover {
        margin-bottom: 190px;
        .cover_for_title {
            position: relative;
    
            .cover_title_text {
                font-family: trap;
                color: #fff;
                font-size: 14vh;
                line-height: 14vh;
                text-transform: uppercase;
                mix-blend-mode: difference;
                position: absolute;
                z-index: 5;
                top: 90%;
                width: 80vw;
                left: 8.5vw;
            }
        }
    }
}


@media (max-width: 1024px) {

    
    
    .cover {
        margin-bottom: 40px;
        width: 100%;
    
        &:last-child {
            margin-bottom: 40px;
        }
        .cover_for_title {
            position: relative;
    
            .cover_title_text {
                font-size: 80px;
                line-height: 80px;
                z-index: 5;
                top: 90%;
                width: 80vw;
            }
        }
    
        .content-text {
            font-size: 18px;
        }
    
        .content_cover{
            img {
                width: 70%;
            }
            .content_background {
                width: 390px;
                height: 480px;
            }
        } 
    }
}
 

@media (max-width: 769px) {

    .cover {
        margin-bottom: 40px;
    
        &:last-child {
            margin-bottom: 50px;
        }
        .cover_for_title {
    
            .cover_title_text {
                font-size: 60px;
                line-height: 60px;
                top: 90%;
                width: 80vw;
                left: 8.5vw;
            }
        }
    
        .content_text {
            font-size: 18px;
        }
    
        .content_cover{
    
            .content_background {
                width: 230px;
                height: 300px;
            }
        } 
    }
}

@media (max-width: 576px) {
    
    .cover {
        margin-bottom: 40px;
    
        &:last-child {
            margin-bottom: 40px;
        }
        .cover_for_title {
    
            .cover_title_text {
                font-size: 40px;
                line-height: 40px;
                top: 90%;
                width: 80vw;
                left: 8.5vw;
            }
        }
    
        .content_text {
            font-size: 14px;
            width: 35vw;
        }
    
        .content_cover{
    
            .content_background {
                width: 210px;
                height: 110%;
            }
        } 
    }
}



@media (max-width: 480px) {
.cover {
    width: 100vw;
    height: 300px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 20px;
    }
    .cover_for_title {

        .cover_title_text {
            font-size: 30px;
            line-height: 30px;
            top: 90%;
            width: 80vw;
            left: 8.5vw;
        }
    }

    .content_text {
        font-size: 12px;
    }

    .content_cover{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:nth-child(even) {
            justify-content: end;
            .content_background {
                margin-right: 2.5vw;
            }
        }

        .content_background {
            width: 37.5vw;
            height: 30.37vh;
        }
    } 
}

}