
.footer {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 5.55vh;

    .footer_title {
        font-family: trap;
      font-size: 11.30vh;
      position: absolute;
      left: 38.2vw;
      top: 5.55vh;
      z-index: 2;
      color: #fff;
      text-transform: uppercase;
      mix-blend-mode: difference;
    }

    .footer_img_back {
        background: url(/images/footer-img-back.jpg);
        width: 75.625vw;
        height: 74vh;
        background-size: cover;
        position: absolute;
       
        top: 14.8vh;
    }

    .footer_img_front {
        background-image: url(/images/footer-img-front.jpg);
        width: 61.98vw;
        height: 66.1vh;
        background-size: cover;
        position: absolute;
        right: 0;
        bottom: 0;
  }
    .footer_form {
        position: absolute;
        top: 55vh;
        left: 1.46vw;
        width: 70vw;
    
        .footer_slide_submit {
            width: 70vw;
            height: 260px;
            background: #B52626;
            mix-blend-mode: difference;
            border-radius: 130px;
            position: relative;
            
        }
        .footer_submit_btn {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 10;
            width: 260px;
            height: 260px;
            border-radius: 130px;
            background: #fff;
            color: #000;
            border: none;
            transition: all 100ms linear;
            cursor: pointer;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(0);
            
            p {
                font-family: trap;
                font-size: 1.125rem;
                text-transform: uppercase;
                text-align: center;
                color: #5A6B6F;
                padding-left: 10px;
            }

            
        
            // .footer-submit-btn.submitted {
            //   width: 97%;
            //   opacity: 0.8;
            // }
            // .footer-submit-btn.submitted {
            //   display: none;
            // }
        }
        .footer_submit_btn:active {
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(calc((-70vw) + 260px));  
        }
    }
}

@media (max-width: 1681px) {
    .footer {
        padding-top: 80px;
    
        .footer_title {
          font-size: 100px;
          line-height: 100px;
          left: 480px;
          top: 60px;
        }
    
        .footer_img_back {
            width: 60%;
            top: 150px;
        }
    
        .footer_img_front {
            width: 50%;
      }
        .footer_swipe {
            position: absolute;
            top: 570px;
            left: 60px;
    
            .footer_swipe_form {
                height: 220px;
            }
    
            .footer_swipe_btn {
                width: 220px;
                height: 220px;
                .footer_swipe_btn_items {
                    
                    p {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}


@media (max-width: 1024px) {
    .footer {
        height: 50vh;
        width: 100%;
    
        .footer_title {
          font-size: 55px;
          line-height: 55px;
          left: 30vw;
        }
    
        .footer_img_back {
            width: 75.625vw;
            height: 40vw;
        }
    
        .footer_img_front {
            top: 25vh;
            width: 60vw;
            height: 40vw;
      }
        .footer_form {
            position: absolute;
            top: 30vh;
            left: 1.46vw;
            width: 70vw;
        
        
            .footer_slide_submit {
                width: 70vw;
                height: 60px;
                
                
            }
            .footer_submit_btn {
                width: 160px;
                height: 60px;
                border-radius: 30px;
               
            }
            .footer_submit_btn:active {
                -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(calc((-70vw) + 160px));  
            }
        }
    }
}

@media (max-width: 769px) {
    .footer {
        height: 50vw;
        width: 100%;
    
        .footer_title {
          font-size: 30px;
        }
    
        .footer_img_back {
            width: 70vw;
            height: 40vw;
            top: 10.8vh;
        }
    
        .footer_img_front {
            top: 20vh;
            width: 50vw;
            height: 42vw;
      }
        .footer_form {
            position: absolute;
            top: 30vh;
            left: 1.46vw;
            width: 70vw;
        
        
            .footer_slide_submit {
                width: 70vw;
                height: 60px;
                
                
            }
            .footer_submit_btn {
                width: 160px;
                height: 60px;
                border-radius: 30px;
               
            }
            .footer_submit_btn:active {
                -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(calc((-70vw) + 160px));  
            }
        }
    }
}

@media (max-width: 576px) {
    .footer {
        height: 50vw;
        width: 100%;
    
        .footer_title {
          font-size: 20px;
          line-height: 20px;
        }
    
        .footer_img_back {
            width: 75.625vw;
            top: 14.8vh;
        }
    
        .footer_img_front {
            top: 25vh;
            width: 50vw;
            height: 40vw;
      }
        .footer_form {
            position: absolute;
            top: 40vh;
            left: 1.46vw;
            width: 70vw;
        
        
            .footer_slide_submit {
                width: 70vw;
                height: 40px;
                
                
            }
            .footer_submit_btn {
                width: 100px;
                height: 40px;
                border-radius: 30px;
                p {
                    font-size: 12px;
                }
               
            }
            .footer_submit_btn:active {
                -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(calc((-70vw) + 160px));  
            }
        }
    }
}



@media (max-width: 480px){
    .footer {
        height: 263px;
        .footer_title {
          font-size: 22px;
          left: 28.2vw;
          top: 5.55vh;
          z-index: 2;
        }
    
        .footer_img_back {
            width: 70vw;
            height: 54vw;
           
            top: 10.8vh;
        }
    
        .footer_img_front {
            width: 41.98vw;
            height: 26.1vw;
      }
        .footer_form {
            position: absolute;
            top: 20vh;
            left: 1.46vw;
            width: 70vw;
        
        
            .footer_slide_submit {
                width: 70vw;
                height: 60px;
                
            }
            .footer_submit_btn {
                width: 120px;
                height: 60px;
                p {
                    font-size: 16px;
                }
            .footer_submit_btn:active {
                -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                transform: translateX(calc((-70vw) + 120px));  
            }
        }
        }}
}