
.section{
    overflow: hidden;
}
.slider_header {
    display: flex;
    justify-content: space-between;
    margin: 2vh 2.5vw 2vh 2.5vw;
    padding-bottom: 2vh;
    height: 46px;
    align-items: center;
    border-bottom: 1px solid #000;
    


    .slider_header_title {
        font-family: trap;
        font-size: 22px;
    }

    .slider_header_btns {
        display: flex;
        justify-content: right;
        align-items: center;

        .slider_header_btn_see_all {
            font-size: 18px;
            width: 21vw;
            height: 42px;
            margin-right: 7.6vw;
            border-radius: 21px;
            color: #000;
            background-color: #fff;
            border: 1px solid #000;
            transition: all .2s linear;
            

            &:hover {
                color: #fff;
                background-color: #000;
            }
        }

        .slider_header_arrow_btns {
            display: flex;
            justify-content: right;

            .slider_header_arrow_prev {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                border: 1px solid #000;
                background-color: #fff;
                margin-right: 0.625vw;
                transition: all .2s linear;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: #000;
                }

                svg{
                    background-color: #000;
                    mix-blend-mode: difference;
                    text-align: center;
                }
            }

            .slider_header_arrow_next {
                width: 42px;
                height: 42px;
                border-radius: 50%;
                border: 1px solid #000;
                background-color: #fff;
                transition: all .2s linear;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: #000;
                }

                svg{
                    background-color: #000;
                    mix-blend-mode: difference;
                }
            }
        }
    }
}
.slider_footer {
    border-top: 1px solid #000;
    margin-left: 2.5vw;
}
.swiper_block {
      padding: 0 0 2vh 2.5vw;

      .swiper {
        width: 100vw;
        height: 100%;

        .swiper_wrapper {
            // :global(.swiper-slide) {
            //     position: relative;
            // }
            .swiper_slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
            
                /* Center slide text vertically */
                display: flex;
                justify-content: center;
                align-items: center;
                // position: absolute;
                // top: 0; bottom: 0; left: 0; right: 0;

                .swiper_slide_item {
                    width: 100%;
                    height: calc(0.4 * 100vw);
                    background-color: #F1F1F1;
                    border-right: 1px solid #000;
                    padding: 42px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    

                    .swiper_slide_title {
                        font-family: trap;
                        text-align: left;
                        font-size: 32px;
                        color: #000;
                        margin-bottom: 2vh;
                    }

                    .swiper_slide_card_item {
                        height: 70%;
                        width: 15.25vw;
                        filter: grayscale(100);
                        transition: all .2s;
                        align-self: center;

                        img {
                            border-radius: 220px;
                            display: block;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        &:hover {
                            filter: grayscale(0);
                        }
                    }

                    .slider_card_descr {
                        margin-top: 2vh;
                        text-align: left;
                      font-family: trap;
                      font-size: 18px;
                    }
                  
                }
              }
        }
      }
}

@media (max-width: 769px){


.slider_header {
    height: 42px;

    .slider_header_btns {

        .slider_header_btn_see_all {
            height: 40px;
            margin-right: 30px;
        }

        .slider_header_arrow_btns {

            .slider_header_arrow_prev {
                width: 40px;
                height: 40px;
            }

            .slider_header_arrow_next {
                width: 40px;
                height: 40px;
            }
        }
    }
}

.swiper_block {

      .swiper {

        .swiper_wrapper {

            .swiper_slide {

                .swiper_slide_item {
                    width: 100%;
                    height: calc(0.4 * 200vw);

                    .swiper_slide_title {
                        font-size: 22px;
                        color: #000;
                    }

                    .swiper_slide_card_item {
                        height: 80vh;
                        width: 60%;
                    }
                    .slider_card_descr {
                      font-size: 14px;
                    }
                  
                }
              }
        }
      }
}

}



@media (max-width: 576px) {
    .slider_header {
        align-items: center;
    
        .slider_header_title {
            font-size: 20px;
        }
    
        .slider_header_btns {
    
            .slider_header_btn_see_all {
                height: 40px;
                margin-right: 25px;
                border-radius: 21px;
    
            }
            .slider_header_arrow_btns {
    
                .slider_header_arrow_prev {
                    width: 40px;
                    height: 40px;
                    margin-right: 10px;
                }
    
                .slider_header_arrow_next {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 0;
    
                }
            }
        }
    }
    
    .swiper_block {
    
          .swiper {
    
            .swiper_wrapper {
    
                .swiper_slide {
    
                    .swiper_slide_item {
                        height: 600px;
                        border-right: none;
                        padding: 32px;
                        .swiper_slide_title {
                            font-size: 32px;
                        }
    
                        .swiper_slide_card_item {
                            height: 400px;
                            width: 50%;
    
                            img {
                                border-radius: 220px;
                            }
                           
                        }
                        .slider_card_descr {
                            font-size: 18px;
                            margin-bottom: 2vh;
                          }
                      
                    }
                  }
            }
          }
    }
    
}

  
  
@media (max-width: 480px) {
.slider_header {
    height: 32px;
    


    .slider_header_title {
        font-family: trap;
        font-size: 16px;
    }

    .slider_header_btns {

        .slider_header_btn_see_all {
            font-size: 14px;
            width: 70px;
            height: 32px;
            margin-right: 4.6vw;
            
        }

        .slider_header_arrow_btns {

            .slider_header_arrow_prev {
                width: 32px;
                height: 32px;
            }

            .slider_header_arrow_next {
                width: 32px;
                height: 32px;
            }
        }
    }
}
.swiper_block {
      padding: 0 0 2vh 2.5vw;

      .swiper {
        width: 100vw;
        height: 100%;

        .swiper_wrapper {
            .swiper_slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                // position: absolute;
                // top: 0; bottom: 0; left: 0; right: 0;

                .swiper_slide_item {
                    height: calc(0.4 * 250vw);
                    padding: 22px;
                    

                    .swiper_slide_title {
                        font-size: 14px;
                    }

                    .swiper_slide_card_item {
                        height: 70%;
                        width: 30.25vw;

                        &:hover {
                            filter: grayscale(0);
                        }
                    }

                    .slider_card_descr {
                      font-size: 12px;
                    }
                  
                }
              }
        }
      }
}
}

  

 